@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 0%; /* black */
  /* ถ้ามี --muted-foreground เป็นเทาอยู่ ก็เปลี่ยนเป็นดำด้วย */
  --muted-foreground: 0 0% 0%;
}
body {
  color: hsl(var(--foreground));
}

code {
  font-variant-ligatures: none;
}
